In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
857,tt0480239,15000000,4627375,Atlas Shrugged Part I,Taylor Schilling|Paul Johansson|Michael O'Keef...,Paul Johansson,Who is John Galt?,"A powerful railroad executive, Dagny Taggart, ...",97,Drama|Thriller|Science Fiction|Mystery,Atlas Productions,4/14/2011,4.8,2011
1809,tt0130623,127500000,354248063,Dinosaur,D. B. Sweeney|Alfre Woodard|Ossie Davis|Max Ca...,Ralph Zondag|Eric Leighton,You have never seen anything like this.,An orphaned dinosaur raised by lemurs joins an...,82,Animation|Family,Walt Disney Pictures|Walt Disney Feature Anima...,5/19/2000,6.1,2000
1077,tt1480656,20500000,6063556,Cosmopolis,Robert Pattinson|Sarah Gadon|Juliette Binoche|...,David Cronenberg,How far can he go before he goes too far?,Riding across Manhattan in a stretch limo in o...,109,Drama,France 2 CinÃ©ma|TÃ©lÃ©film Canada|Rai Cinema|...,5/25/2012,4.8,2012
1237,tt2387559,26000000,51164106,Delivery Man,Vince Vaughn|Cobie Smulders|Chris Pratt|Britt ...,Ken Scott,You're never quite ready for what life delivers.,An affable underachiever finds out he's father...,105,Comedy,DreamWorks SKG|Touchstone Pictures,10/10/2013,6.1,2013
149,tt2402157,15000000,32556119,The November Man,Pierce Brosnan|Luke Bracey|Olga Kurylenko|Bill...,Roger Donaldson,A Spy is Never Out of the Game,An ex- CIA operative is brought back in on a v...,108,Crime|Action|Thriller,Irish Dreamtime|Relativity Media|SPD Films,8/27/2014,6.0,2014

In [18]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [21]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [22]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [23]:
answers['2'] = 'Gods and Generals'

In [24]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [25]:
data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [26]:
answers['3'] = 'Winnie the Pooh'

In [27]:
data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [28]:
answers['4'] = '109.66'

In [29]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [30]:
answers['5'] = '107.0'

In [31]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [32]:
answers['6'] = 'Avatar'

In [33]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue']-data['budget']
data[data['profit'] == data['profit'].max()]['original_title'].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [34]:
answers['7'] = 'The Lone Ranger'

In [35]:
data[data['profit'] == data['profit'].min()]['original_title'].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [36]:
answers['8'] = '1478'

In [37]:
data[data.profit > 0].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [38]:
answers['9'] = 'The Dark Knight'

In [39]:
year_2008 = data[data.release_year == 2008]
year_2008[year_2008.revenue == year_2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [40]:
answers['10'] = 'The Lone Ranger'

In [41]:
data[data.profit == data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [42]:
answers['11'] = 'Drama'

In [43]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre = data['genres'].value_counts()
display(genre)

Comedy                                     141
Drama                                      102
Comedy|Romance                              60
Drama|Romance                               45
Comedy|Drama|Romance                        35
                                          ...
Science Fiction|Horror|Thriller              1
Thriller|Crime|Mystery|Drama                 1
Action|Horror|Thriller                       1
Music|Adventure|Animation|Action|Comedy      1
Drama|Mystery|Thriller|Crime                 1
Name: genres, Length: 652, dtype: int64

ВАРИАНТ 2

In [44]:
genre = pd.read_csv('movie_bd_v5.csv')
genre['genres'] = genre['genres'].apply(lambda x: x.split('|'))
genre = genre.explode('genres')
genre.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [45]:
answers['12'] = 'Drama'

In [46]:
revenue = data[data.profit > 0].genres.apply(lambda x: x.split(sep = '|')).explode().value_counts()
display(revenue)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [47]:
answers['13'] = 'Peter Jackson'

In [48]:
data['all_directors'] = pd.Series(data['director'].str.cat(sep='|').split('|'))
data.groupby(['all_directors'])['revenue'].sum().sort_values(ascending=False).head(1)

all_directors
J.J. Abrams    2881600135
Name: revenue, dtype: int64

In [49]:
data.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [50]:
answers['14'] = 'Robert Rodriguez'

In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv('movie_bd_v5.csv')
data_gernes = data[data.genres.str.contains('Action')].copy()
data_gernes['director'] = data_gernes.director.apply(lambda x: x.split('|'))
data_gernes_dir = data_gernes.explode('director')
data_gernes_dir.director.value_counts().head(1)

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [52]:
answers['15'] = 'Chris Hemsworth'

In [53]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv('movie_bd_v5.csv')

f_2012 = data[(data.release_year == 2012)].copy()
f_2012['cast'] = f_2012['cast'].str.split('|')
only_f = f_2012.explode('cast')
only_f.groupby('cast').revenue.sum().sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [54]:
answers['16'] = 'Matt Damon'

In [55]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
actor = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
print(actor)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [56]:
answers['17'] = 'Action'

In [57]:
import collections
nicolas_c = pd.read_csv('movie_bd_v5.csv')
nicolas_c = nicolas_c[nicolas_c.cast.str.contains('Nicolas Cage')]
collections.Counter(nicolas_c['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [58]:
answers['18'] = 'K-19: The Widowmaker'

In [59]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data2 = data[data.production_companies.str.contains("Paramount Pictures")]
data2[data2['profit'] == data2['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [60]:
answers['19'] = '2015'

In [61]:
import pandas as pd 

data = pd.read_csv('movie_bd_v5.csv')

data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [62]:
answers['20'] = '2014'

In [63]:
import pandas as pd

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

data2 = data[data['production_companies'].str.contains('Warner Bros')]
data2.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [64]:
answers['21'] = 'Сентябрь'

In [65]:
import pandas as pd
import collections
data = pd.read_csv('movie_bd_v5.csv')

data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: int(x[0])) 
numbers_months =  data.month.value_counts()
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}
print(months[numbers_months.index[0]])

Сентябрь

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [66]:
answers['22'] = '450'

In [67]:
import pandas as pd
import collections
data = pd.read_csv('movie_bd_v5.csv')

data['month'] = data['release_date'].apply(lambda x: x[0]) 
numbers_months =  data.month.value_counts()
len(data.loc[data['month'].isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [68]:
answers['23'] = 'Peter Jackson'

In [69]:
r_z = pd.read_csv('movie_bd_v5.csv')
r_z['director'] = r_z['director'].apply(lambda x:x.split('|'))
r_z.release_date = r_z.release_date.apply(lambda x: x.split('/'))
r_z['month'] = r_z['release_date'].apply(lambda x: x[0])
pivot = r_z.loc[r_z['month'].isin(['12','1','2'])]
pivot['director'].value_counts().head(1)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [70]:
answers['24'] = 'Four By Two Productions'

In [71]:
long_titles = pd.read_csv('movie_bd_v5.csv')
long_titles['name_length'] = long_titles.original_title.apply(lambda x: len(x))
long_titles['production_companies'] = long_titles.production_companies.str.split("|")
production_companies_df = long_titles.explode('production_companies')
production_companies_df.groupby('production_companies').name_length.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [72]:
answers['25'] = 'Midnight Picture Show'

In [73]:
long_words = pd.read_csv('movie_bd_v5.csv')
long_words['production_companies'] = long_words['production_companies'].apply(lambda x: x.split('|'))
long_words['overview_len'] = long_words['overview'].apply(lambda x: x.split()).apply(len)
long_words = long_words.explode('production_companies').groupby('production_companies').overview_len.mean()
long_words[long_words == long_words.max()]

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [74]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [75]:
data = pd.read_csv('movie_bd_v5.csv')
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only = True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [76]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

In [77]:
import collections
from itertools import combinations
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [78]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.66',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [79]:
# и убедиться что ни чего не пропустил)
len(answers)

27